body {
  font-family: Tahoma;
  background-color: #f1f1f1;
  text-align: center;
  padding: 50px;
}

h1 {
  color: #111;
}

a {
  text-decoration: none;
  margin: 0 10px;
  color: #222;
  font-weight: bold;
}